.githooks/
tests/*.txt

# Python
__pycache__/
.env
.envrc
.venv
*.py[codz]
*$py.class
env.bak/
env/
ENV/
venv.bak/
venv/

# Windows
[Dd]esktop.ini
ehthumbs_vista.db
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable

# macOS
__MACOSX/
._*
.AppleDouble
.DS_Store
.LSOverride

# Linux
.Trash-*
nohup.out
